.btn {
    border-collapse: separate!important;
    border-radius: 3px;
    td {
        // padding: inherit;
    }
    a {
        padding: 18px 10px;
        letter-spacing: normal;
        line-height: 100%;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.btn-primary {
    color: #fff;
    background-color: #8676c5;
    a {
        color: #fff;
    }
}

.btn-default {
    background-color: #f8f8f8;
    border: 1px solid #eeecec;
    a {
        color: #151734;
    }
}


.btn-md {
    td {
        // padding-top: 18px;
        // padding-bottom: 18px;
    }
    a {
        font-size: 16px;
    }
}
.btn-lg {
    td {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    a {
        font-size: 18px;
    }
}
